@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .focus {
    @apply focus:outline-none focus-visible:ring-2 focus-visible:ring-netflix-red ring-offset-2 ring-offset-stone-900;
  }
  .focus-card {
    @apply focus:outline-none focus-visible:ring-4 focus-visible:ring-netflix-red ring-offset-4 ring-offset-stone-900;
  }
}
